{% load markdown_deux_tags %}
{% markdown %}

## Documents from the American Philosophical Society

### Licensing

##### Images
 
Unless otherwise stated, all images and their contents from the American
Philosophical Society hosted here are free of known copyright
restrictions and in the public domain. See the Creative Commons Public
Domain Mark page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, the American
Philosophical Society has waived all copyright and related or
neighboring rights to its metadata hosted here. This work is published
from: United States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

Some of the works from the the American Philosophical Society have
facsimiles available online, in a user-friendly format, at:

- <https://diglib.amphilsoc.org>

### About the American Philosophical Society

The American Philosophical Society (APS), the oldest learned society in
the United States, was founded in 1743 by Benjamin Franklin for the
purposes of "promoting useful knowledge." In the 21st century, it serves
to advance knowledge and promote scholarship in the humanities and
social, mathematical, life, and physical sciences. The APS Library and
Museum's collections make it among the premier institutions for
documenting and exhibiting the history of the American Revolution and
founding, the history of science from Newton to NASA, Native American
languages and culture, and the development of American anthropology. The
Library houses over 13 million manuscripts, 275,000 volumes and bound
periodicals, 250,000 images, fine art and other objects.

OPenn includes some of the items from the American Philosophical
Society. For more information on all available collections see:

- <https://amphilsoc.org/library/search-collections>

### Image standards and specifications

Images from the American Philosophical Society were shot and processed
by the Schoenberg Center for Electronic Text & Image. In general, The
Schoenberg Center for Electronic Text & Image follows the NISO standards
as articulated in *A Framework for Building Good Digital Collections*,
3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>.

The following represents specific standards adopted by SCETI in their
capture of digital images.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: IQ280 80 megapixel Phase One digital camera
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript have
been captured they are color-corrected, deskewed, and cropped.  

{% endmarkdown %}