{% load openn_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if title %}
    <title>OPenn: {{ title }}</title>
    {% else %}
    <title>OPenn</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" type="text/css" href="/html/css">
    <link rel="stylesheet" type="text/css" href="/html/css(1)">
    <link rel="stylesheet" type="text/css" href="/html/openn.css">
    <link rel="stylesheet" type="text/css" href="/html/pygments-github.css">
  </head>

  <body>
    <div id="div_logo"><a href="/" title="OPenn Home"><img src="/html/openn_toplogo10.jpg" alt="OPenn"></a></div>
    <div id="div_toplinks"><a href="/ReadMe.html">Introduction</a> -
      <a href="/TechnicalReadMe.html">Technical Help</a> -
      <a href="/Collections.html">Collections</a></div>

    <div id="content">

      {% block content %}{% endblock %}

    </div>

    <div class="footer">
      <img src="/html/penn_shield.png" height="28" />&nbsp;Hosted by the University of Pennsylvania Libraries
    </div>
  </body>
</html>
