{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Barbara Bates Center for the Study of the History of Nursing

### Licensing

##### Images
 
Unless otherwise stated, all images and their contents from the Barbara
Bates Center for the Study of the History of Nursing are free of known
copyright restrictions and in the public domain. See the Creative
Commons Public Domain Mark page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, the Barbara
Bates Center for the Study of the History of Nursing has waived all
copyright and related or neighboring rights to its metadata hosted here.
This work is published from: United States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

The manuscript for Mary Clymer's *Lecture Notes* is available
online in a user-friendly format on [Penn in Hand][pih] at:

- <http://hdl.library.upenn.edu/1017/d/medren/1465185>.

[pih]: http://dla.library.upenn.edu/dla/medren/index.html "Penn in Hand"

### About The Barbara Bates Center for the Study of the History of Nursing

The Barbara Bates Center for the Study of the History of Nursing is the
largest repository for primary source materials and rare books about the
history of nursing. The Center holds an extensive collection of
materials from 19th to the 20th century hospital based nursing schools,
visiting nurse societies and the personal papers of nursing leaders.
Contained in the collections are over 3000 books, rare books, glass
slides, photographs, audio tapes, and films, as well as a smaller amount
of artifact holdings. The Center's collections are approximately 2300
linear feet.

For more information on all of the collections available at the Barbara
Bates Center for the Study of the History of Nursing see:

- <https://www.nursing.upenn.edu/history/archives-collections/>

### Image standards and specifications

Images from the Barbara Bates Center for the Study of the History of
Nursing collections were shot and processed by the Schoenberg Center for
Electronic Text & Image. In general, SCETI follows the NISO standards as
articulated in *A Framework for Building Good Digital Collections*, 3rd
Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>

The following represents specific standards adopted by SCETI in their
capture of digital images.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF image, 600 ppi 24-bit LZW
  color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: Two auto-focus, 39 megapixel, Phase One P45 digital
  cameras.
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript
have been captured they are color-corrected, deskewed, and cropped.

{% endmarkdown %}