{% load markdown_deux_tags %}
{% markdown %}
[*Bibliotheca Philadelphiensis*][bibphilly] is a project of the
Philadelphia Area Consortium of Special Collections Libraries. It
contains digital editions of more than 400 western European medieval and
early modern codices, plus selected leaves and cuttings from the
following PACSCL member institutions.

[bibphilly]: http://bibliophilly.pacscl.org "*Bibliotheca Philadelphiensis*"

- Bryn Mawr College 
- Chemical Heritage Foundation 
- College of Physicians of Philadelphia 
- Franklin & Marshall College 
- Free Library of Philadelphia 
- Haverford College 
- Lehigh University 
- Library Company of Philadelphia 
- Philadelphia Museum of Art 
- Rosenbach Museum & Library 
- Swarthmore College 
- Temple University 
- University of Delaware 
- Villanova University

### Sponsorship

Most of the manuscripts in this collection are being digitized and made
accessible through a *Digitizing Hidden Collections* grant from the
[Council on Library and Information Resources][clir], 2016-2019. The
grant program is made possible by funding from the [Andrew W. Mellon
Foundation] [mellon]. Imaging was undertaken by the staff of the
Schoenberg Center for Electronic Text & Image and other partners, with
additional cataloging and coordination from manuscripts staff in the
Kislak Center for Special Collections, Rare Books and Manuscripts. A few
manuscripts that had previously been digitized are being contributed to
the collection.

Any views, findings, conclusions, or recommendations expressed in this
website do not necessarily reflect those of the Council on Library and
Information Resources.
 
[clir]: http://www.clir.org/hiddencollections "Council on Library and Information Resources"

[mellon]: https://mellon.org

For the University of Pennsylvania's extensive holdings of medieval and
early modern manuscripts, please visit the following collections on
OPenn:

- [Lawrence J. Schoenberg Manuscripts][ljs]
- [University of Pennsylvania Books & Manuscripts][penn]

[ljs]: http://openn.library.upenn.edu/html/0001.html "Lawrence J. Schoenberg Manuscripts"
[penn]: http://openn.library.upenn.edu/html/0002.html "University of Pennsylvania Books & Manuscripts"

### Licensing

#### Images

All images and their contents from the *Bibliotheca Philadelphiensis*
project are free of known copyright restrictions and in the public
domain. See the Creative Commons Public Domain Mark page for more
information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

#### Metadata

For all manuscript descriptions and other cataloging metadata, the
copyright holder is the mansucripts' holding institution. For example,
if the manuscript is from the Free Library of Philadelphia, then the
copyright for the manuscript descriptions and other cataloging metadata
is ©2017 Free Library of Philadelphia. The metadata is licensed for use
under a Creative Commons CC0 Licensed version 1.0 (CC0-1.0):

- <https://creativecommons.org/publicdomain/zero/1.0/>.

For a description of the terms of use, see the Creative Commons deed:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The *Bibliotheca Philadelphiensis* data presented on OPenn is intended
for aggregators, digital humanists, and scholars who have been directed
here to procure high-resolution images and their associated metadata. 
It is presented in a manner most likely to ensure its long-term digital
preservation. The images of these manuscripts are accompanied by
detailed manuscript descriptions in machine-readable TEI format. Images
and TEI manuscript descriptions are added frequently, so check often to
see new additions. 

### Image Standards and Specifications

In general, the project partners follow the NISO standards as
articulated in *A Framework for Building Good Digital Collections*, 3rd
Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>.

Most the images in the project were captured by  the Schoenberg Center
for Electronic Text and Image (SCETI), with additional imaging by
Backstage Lighting Works, Inc., and the libraries of Bryn Mawr College,
Franklin & Marshall College, Temple University, and Villanova
University. The following represents specific standards adopted by SCETI
in their capture of digital images--the other project partners have
comparable specifications and equipment.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF image, 600 ppi 24-bit LZW
  color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: Two auto-focus, 39 megapixel, Phase One P45 digital
  cameras.
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript
have been captured they are color-corrected, deskewed, and cropped.
{% endmarkdown %}