{% load markdown_deux_tags %}
{% markdown %}

## Documents from the British Library

### Licensing

##### Images
 
Unless otherwise stated, all images and their contents from the British
Library hosted here are free of known copyright restrictions and in the
public domain. See the Creative Commons Public Domain Mark page for more
information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, the British
Library has waived all copyright and related or neighboring rights to
its metadata hosted here. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

A detailed description of the British Library's digitization project
along with some of the works from the British Library are
available online, in a user-friendly format at:

- <https://www.bl.uk/hebrew-manuscripts>

### About the British Library

The British Library is the national library of the United Kingdom and
gives access to the world’s most comprehensive research collection. The
collection of over 170 million items includes artifacts from every age
of written civilization.

OPenn includes some of the items from the British Library. For more
information on all of the special collections available at the British
Library see:

- <https://www.bl.uk/subjects/manuscripts-and-archives>

### Image standards and specifications

In order to make the collection of Hebrew manuscripts available
digitally, the British Library received a major grant from The Polonsky
Foundation to support the Hebrew Manuscripts Digitisation Project
(HMDP).The project digitized 1,300 manuscripts, capturing approximately
435,000 digitised images. These were mainly manuscripts catalogued by
George Margoliouth at the end of the 19th century. In addition, several
Torah scrolls had textile covers (mantles), made of silk brocade and
linen. These underwent conservation treatment by a textile conservator
and have been digitized as well. The digitized images are available as
300ppi JPEG files. 

{% endmarkdown %}
