{% extends "base.html" %}
{% load openn_filters %}

{% block title %}{{ doc.document.call_number }}{% endblock %}

{% block content %}

<h1>{{ doc.document.call_number }} {{ doc.document.title }}</h1>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ doc.document.call_number }}</h3>
      </div>
      <div class="panel-body">

        <div>
          <h4>Title</h4>
          <span>{{ doc.tei.title }}</span>
        </div>

        {% if doc.tei.authors %}
        <div>
          <h4>Authors</h4>
          <ul class="list-unstyled">
          {% for author in doc.tei.authors %}
             <li>{{ author }}</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.related_names %}
        <div>
          <h4>Other related names</h4>
          <ul class="list-unstyled">
          {% for resp in doc.tei.related_names %}
             <li>{{ resp.pers_name }} ({{ resp.resp }})</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        <div>
          <h4>Call number</h4>
          <span>{{ doc.tei.call_number }}</span><br />
          ({{ doc.tei.settlement }}, {{ doc.tei.institution }}, {{ doc.tei.repository }})
        </div>

        <div>
          <h4>Publisher</h4>
          <span>{{ doc.tei.publisher }}</span><br />
        </div>

        <div>
          <h4>Language</h4>
           <span>{{ doc.tei.text_lang }}</span>
        </div>

        <div>
          <h4>Origin</h4>
          <dl>
            <dt>Date</dt>
            <dd>{{ doc.tei.orig_date }}</dd>

            <dt>Place</dt>
            <dd>{{ doc.tei.orig_place }}</dd>
          </dl>
        </div>

        <div>
          <h4>Summary</h4>
           <span>{{ doc.tei.summary }}</span>
        </div>

        {% if doc.tei.notes %}
        <div>
          <h4>Notes</h4>

          <ul class="list-unstyled">
          {% for note in doc.tei.notes %}
             <li>{{ note }}<br/>&nbsp;</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.support %}
        <div>
          <h4>Support</h4>
          <span>{{ doc.tei.support|capfirst }}</span>
        </div>
        {% endif %}

        {% if doc.tei.extent %}
        <div>
          <h4>Extent</h4>
          <span>{{ doc.tei.extent|capfirst }}</span>
        </div>
        {% endif %}

        {% if doc.tei.provenance %}
        <div>
          <h4>Provenance</h4>

          <ul class="list-unstyled">
          {% for note in doc.tei.provenance %}
             <li>{{ note }}<br/>&nbsp;</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.subjects %}
        <div>
          <h4>Subjects</h4>
          <ul class="list-unstyled">
          {% for subject in doc.tei.subjects %}
             <li>{{ subject }}</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.genres %}
        <div>
          <h4>Genres</h4>
          <ul class="list-unstyled">
          {% for genre in doc.tei.genres %}
             <li>{{ genre }}</li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.tei.licences %}
        <div>
          <h4>Licenses</h4>
          <ul class="list-unstyled">
          {% for licence in doc.tei.licences %}
             <li>
               <dl>
                 <dt>Text</dt>
                 <dd>{{ licence.text }}</dd>
                 <dt>URL</dt>
                 <dd><a href="{{ licence.target }}">{{ licence.target }}</a></dd>
               </dl>
             </li>
           {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if doc.has_toc %}
        {% with pages=doc.ms_item_pages %}
        <div>
          <a name="toc"></a>
          <h4>Table of contents</h4>
          <ul>
          {% for page in pages %}
          {% for title in page.titles %}
          <li>
            <span style="font-style: italic;"><a href="#{{ page.image.label|aname }}">{{ page.image.display_label }}</a> &mdash; </span>
            <span>{{ title }}</span>
          </li>
          {% endfor %}
          {% endfor %}
          </ul>
        </div>
        {% endwith %}
        {% endif %}

        {% if doc.has_deco_list %}
        {% with pages=doc.deco_note_pages %}
        <div>
          <a name="decorations"></a>
          <h4>Decorations</h4>
          <ul>
          {% for page in pages %}
          {% for note in page.deco_notes %}
          <li>
            <span style="font-style: italic;"><a href="#{{ page.image.label|aname }}">{{ page.image.display_label }}</a> &mdash; </span>
            <span>{{ note }}</span>
          </li>
          {% endfor %}
          {% endfor %}
          </ul>
        </div>
        {% endwith %}
        {% endif %}

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled">
      {% for page in doc.pages %}
      <li>
        <a name="{{ page.image.label|aname }}"></a>
        <h4><span class="label label-default">{{ page.image.display_label|capfirst }}</span></h3>
        <div class="row">
          <table class="table">
            <tr>
              <td>
                {% with thumb=page.image.thumb %}
                {% if thumb %}
                <span><a href="{{ page.image.web.url }}"><img src="{{ thumb.url }}" height="{{ thumb.height }}" width="{{ thumb.width }}" /></a></span>
                {% endif %}
                {% endwith %}
              </td>
              <td>
                <ul class="list-unstyled">
                {% for deriv in page.image.derivative_set.all %}
                <li>
                  <a href="{{ deriv.url }}">{{ deriv.path|basename }}</a>
                  <span>({{ deriv.bytes|filesizeformat }}, {{ deriv.bytes }} bytes)</span>
                </li>
                {% endfor %}
                </ul>
                {% for title in  page.titles %} <span>Section: {{ title }}</span><br/> {% endfor %}
                {% for note in page.deco_notes %}<span>Decoration: {{ note }}</span><br/>{% endfor %}
              </td>
            </tr>
          </table>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
