{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Bryn Mawr College Special Collections

### Licensing

##### Images

Unless otherwise stated, all images and their contents from the Bryn
Mawr College Special Collections are free of known copyright
restrictions and in the public domain. See the Creative Commons Public
Domain Mark page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, all manuscript descriptions and other
cataloging metadata are ©2015 Bryn Mawr College. They are licensed for
use under a Creative Commons Attribution Licensed version 4.0
(CC-BY-4.0):

- <https://creativecommons.org/licenses/by/4.0/legalcode>.

For a description of the terms of use see the Creative Commons Deed:

- <https://creativecommons.org/licenses/by/4.0/>.

### Intended Users

The data presented on OPenn are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

Some of the works from Bryn Mawr College Special Collections have
facsimiles available online, in a user-friendly format, at:

- <http://triptych.brynmawr.edu/>

### About Bryn Mawr College Special Collections

The Bryn Mawr College Special Collections includes rare books,
manuscripts, the college archives, works of art on paper, and
ethnographic and archaeological objects.  The rare book collection
contains approximately 50,000 volumes, and includes extensive
collections of late medieval and early modern works, among them more
than 100 medieval manuscript volumes and more than 1,000 15th century
printed books.  In addition, there are strong collections on the
history of women, European interaction with Asia, Africa and the
Americas, and British and American literature.

The manuscript collections are particularly strong in women's history,
including the papers of Bryn Mawr president and early women's rights
activist M. Carey Thomas; papers of many prominent women associated
with Bryn Mawr, including poet Marianne Moore, New Yorker editor
Katharine Sergeant White, artist Anne Truitt, and archaeologists Lucy
Shoe Meritt and Dorothy Burr Thompson; and extensive collections of
letters and diaries written by Bryn Mawr students from the time of its
founding in the 1880s.  These collections are supported by a graphics
collection ranging from the 15th century to the present, including
7,300 prints, 3,500 drawings, and 13,000 vintage photographs.

OPenn includes some of the items from the Bryn Mawr College Special
Collections. For more information on all of the special collections
available at Bryn Mawr College see:

- <http://www.brynmawr.edu/library/specccoll/>

### Image Standards and specifications

Bryn Mawr College follows national and international community-based
standards and best practices, including *A Framework of Guidance for
Building Good Digital Collections* (NISO) and the *Federal Agencies
Digitization Initiative Still Image Working Group's Technical
Guidelines for Digitizing Cultural Heritage Materials* (FADGI).

#### Image specifications

Archival masters are produced as 400-600 ppi TIFF image color images.
Once all the images for a manuscript have been captured they are
color-corrected, deskewed, and cropped.

#### Imaging and processing equipment

Scanners: Epson Perfection V600
Photo, Bookeye 2 Color Software: Epson Scan, Opus FreeFlow

{% endmarkdown %}
