{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Bryn Mawr College Special Collections

### Licensing

For licensing, please see the Bryn Mawr College Special Collections
[licensing web statement](http://www.brynmawr.edu/library/speccoll/repros/)
here:

- <http://www.brynmawr.edu/library/speccoll/repros/>

### On-line facsimiles

The data presented here are intended for aggregators, digital humanists,
and scholars who have been directed here to procure high-resolution
images of manuscript pages. It is presented in a manner most likely to
ensure its long-term digital preservation.

The [Mary Whitall Worthington
Diaries](http://triptych.brynmawr.edu/cdm/landingpage/collection/BMC_MWW)
are available on-line at the Bryn Mawr University website here:

- <http://triptych.brynmawr.edu/cdm/landingpage/collection/BMC_MWW>

### About Bryn Mawr Collections Special Collections

The Bryn Mawr College Special Collections includes rare books,
manuscripts, the college archives, works of art on paper, and
ethnographic and archaeological objects.  The rare book collection
contains approximately 50,000 volumes, and includes extensive
collections of late medieval and early modern works, among them more
than 100 medieval manuscript volumes and more than 1000 15th century
printed books.  In addition, there are strong collections on the
history of women, European interaction with Asia, Africa and the
Americas, and British and American literature.

The manuscript collections are particularly strong in women's history,
including the papers of Bryn Mawr president and early women's rights
activist M. Carey Thomas; papers of many prominent women associated
with Bryn Mawr, including poet Marianne Moore, New Yorker editor
Katharine Sergeant White, artist Anne Truitt, and archaeologists Lucy
Shoe Meritt and Dorothy Burr Thompson; and extensive collections of
letters and diaries written by Bryn Mawr students from the time of its
founding in the 1880s.  These collections are supported by a graphics
collection ranging from the 15th century to the present, including
7,300 prints, 3,500 drawings, and 13,000 vintage photographs.

### Standards and scanning specifications

Bryn Mawr College follows national and international community-based
standards and best practices, including A Framework of Guidance for
Building Good Digital Collections (NISO) and the Federal Agencies
Digitization Initiative Still Image Working Group's Technical
Guidelines for Digitizing Cultural Heritage Materials (FADGI).

##### Scanning specifications

Archival Masters: Between 400-600 ppi TIFF image color image

##### Scanning and processing equipment

Scanners: Epson Perfection V600
Photo, Bookeye 2 Color Software: Epson Scan, Opus FreeFlow

Master images are captured at a resolution of at least 400 pixels per
inch of the image subject. Once all the images for a manuscript have
been captured they are color-corrected, deskewed, and cropped .


{% endmarkdown %}
