{% load markdown_deux_tags %}
{% markdown %}
Historically, the term genizah commonly refers to an informal storage
area where fragile Jewish documents, considered religiously significant,
but ritually unfit, are put away until they are brought to a cemetery
for dignified burial. The trove of over 350,000 medieval manuscript
fragments once held in the attic genizah of the Ben Ezra synagogue in
Fustat, Old Cairo, dating from the 9th century CE and spanning over a
thousand years, is the most famous and important of the extant
collections. Its contents - so-called Cairo genizah fragments, which
came to light during the 19th century - subsequently were scattered
around the world. Some appeared on and then disappeared from the
antiquities market; the largest segment went to Cambridge University,
where they became the object of intensive scholarly study.

In the late 1990s, thanks to a significant gift from a Penn alum named
Jeffrey Keil, W' 65 and PAR '91, Penn initiated a project, in
collaboration with Cambridge University Libraries, to apply digital
technologies to discover new intellectual matches among these physically
dispersed fragments. Through this initiative we were able to demonstrate
how digital technologies may serve as discovery tools to identify
matches among a global diaspora of thousands of fragments of medieval
manuscripts (see: [http://sceti.library.upenn.edu/genizah/index.cfm][genizah]).
This collection of Cairo genizah fragments consists of Penn manuscripts
that were part of this project.

[genizah]: http://sceti.library.upenn.edu/genizah/index.cfm "http://sceti.library.upenn.edu/genizah/index.cfm"

### Sponsorship

The manuscripts in this collection were digitized and made accessible
through the unwavering support and concerted efforts of the following
contributors. Mr. Jeffrey Keil (W '65 and Library Board Overseer)
embraced this project from the outset and funded its realization.

A special thanks to following contributors:

- Mr. Jeffrey Keil, Wharton Class of 1965 and former Penn Libraries Board Overseer at Penn
- Dr. Michael Ryan, former Director of the Rare Book and Manuscript Library at Penn
- Professor Stefan Reif, former Director of the Taylor-Schechter Genizah Unit at the Cambridge University Library
- Dr. Arthur Kiron, curator of Penn's Judaica collections
- Mr. Greg Bear, former curator of the Schoenberg Center for Electronic Text and Image
- Mr. Seth Jerchower, former CAJS Public Services Librarian and Judaic Research and Instructional Services Librarian at Penn
- Ms. Heidi Lerner, Hebraica Cataloger at Stanford University
- Dr. Ezra Chwat, manuscript bibliographer at the Institute of Microfilmed Hebrew Manuscripts at the Jewish National and University Library in Jerusalem
- Ms. Naomi Steinberger, Director of the Library of the Jewish Theological Seminary of America
- Mr. Dennis Mullen, SCETI web designer and developer
- Mr. David McKnight, succeeding curator of SCETI and current Director of the Rare Book and Manuscript Library at Penn

### Licensing

#### Images

All images and their contents from the Cairo Genizah project are free of
known copyright restrictions and in the public domain. See the Creative
Commons Public Domain Mark page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

#### Metadata

For all manuscript descriptions and other cataloging metadata, the
copyright holder is the mansucripts' holding institution. For example,
if the manuscript is from the Free Library of Philadelphia, then the
copyright for the manuscript descriptions and other cataloging metadata
is ©2017 Free Library of Philadelphia. The metadata is licensed for use
under a Creative Commons CC0 Licensed version 1.0 (CC0-1.0):

- <https://creativecommons.org/publicdomain/zero/1.0/>.

For a description of the terms of use, see the Creative Commons deed:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The *Cairo Genizah* data presented on OPenn is intended for aggregators,
digital humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented in
a manner most likely to ensure its long-term digital preservation. The
images of these manuscripts are accompanied by detailed manuscript
descriptions in machine-readable TEI format. Images and TEI manuscript
descriptions are added frequently, so check often to see new additions. 

### Image standards and specifications

In general, The Schoenberg Center for Electronic Text & Image follows
the NISO standards as articulated in *A Framework for Building Good
Digital Collections*, 3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>.

The following represents specific standards adopted by SCETI in their
capture of digital images.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF image, 600 ppi 24-bit LZW
  color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: Two auto-focus, 39 megapixel, Phase One P45 digital
  cameras.
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript
have been captured they are color-corrected, deskewed, and cropped.
{% endmarkdown %}