{% load markdown_deux_tags %}
{% markdown %}

## Documents from Christ Church Philadelphia

### Licensing

##### Images

Unless otherwise stated, all images and their contents from Christ
Church hosted here are free of known copyright restrictions and in the
public domain. See the Creative Commons Public Domain Mark page for more
information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, Christ Church
has waived all copyright and related or neighboring rights to its
metadata hosted here. This work is published in the United States. For a
summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

### About Christ Church

Founded in 1695, Christ Church was the first Anglican church to be
established in Pennsylvania. This fulfilled the provision outlined by
King Charles II in the charter he granted to William Penn in 1681
stipulating that if twenty individuals requested an Anglican clergyman
the Bishop of London would appoint one. Accordingly, thirty-nine
Philadelphians came together in 1695 to form Christ Church. Located on
Second Street, just north of Market Street the Church transitioned from
a small frame structure in its early years to the imposing Georgian
structure built from 1727-1754 that still stands on the site today.
Members of the Continental Congress and early government officials
worshipped here and seven signers of the Declaration of Independence are
buried on Church property. When the congregation grew too large to be
accommodated here the vestry built St. Peter's at the southern edge of
the city in 1760 and later St. James. Those United Churches remained a
unit until the 1820s and 1830s. Christ Church is an active Episcopal
parish today as well as a major historic site.

The records consist of vestry minutes, parish records, accounting and
financial records, deeds, architectural drawings, photographs, and
audiovisual materials. In addition, there are materials from parish
organizations and affiliated institutions such as Christ Church
Hospital, Episcopal School, Christ Church Burial Ground, and Christ
Church Preservation Trust. A detailed finding aid is available on-site.

OPenn includes some of the items from Christ Church. For more
information on all available collections see:

- <https://www.christchurchphila.org/collections-genealogy/>

### Image standards and specifications

The materials from Christ Church on OPenn were scanned as part of a
CLIR-funded project to digitize the early records of Philadelphia’s
oldest congregations. Materials were digitized at the Regional Digital
Imaging Center of the Athenaeum of Philadelphia.

#### Image specifications

Archival masters are at least 300 ppi 24-bit color uncompressed TIFF
images. Most images are scanned at 600 ppi. Archival images have been
cropped and rotated, but have not been sharpened or color adjusted. The
images use the AdobeRGB profile.

#### Imaging and processing equipment

Book Scanner: BookEye 4 V1A Professional

- Maximum scan size: 25 x 33.5 inches. 
- Maximum resolutions: 600 dpi 
- Scanner has a V-cradle for open volumes, as well as a glass plate to
hold originals flat. Depending on the original item, one of these
features may be used to complete the scan. 
- Scanner provides automatic page splitting and cropping

Overhead Scanner: Cruse CS 220 ST

- Scan bed / size: 48 x 72 inches magnetic platform with vacuum table 
- Focus system: Autofocus - Scanner: 24 or 48 bit color 
- Maximum scan size: 14.4k x 26.64k pixels 
- PPI: 48 x 72 inches at 300 ppi ; 23 x 45 inches at 600 ppi 
- Maximum file size: 1.1 GB, 3x8 bit 
- Lighting: High frequency cold-cathode, 4 x 55 Watts with texture
lighting effect

{% endmarkdown %}