{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Historical Medical Library of the College of Physicians of Philadelphia

### Licensing

##### Images
 
Unless otherwise stated, all images and their contents from the
Historical Medical Library of the College of Physicians of Philadelphia
hosted here are free of known copyright restrictions and in the public
domain. See the Creative Commons Public Domain Mark page for more
information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, the
Historical Medical Library of the College of Physicians of Philadelphia
has waived all copyright and related or neighboring rights to its
metadata hosted here. This work is published from: United States. For a
summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

### About the Historical Medical Library of the College of Physicians of Philadelphia

Established in 1788, the Historical Medical Library was Philadelphia's
central medical library for over 150 years, serving its medical schools,
hospitals, physicians and other health professionals.

Today, it is an independent research library devoted to the history of
medicine and the medical humanities, serving hundreds of scholars,
health professionals, students and popular writers each year.

The College's collection of early printed books includes more than four
hundred incunabula or editions printed before 1501. Among our more than
12,000 other rare books are the majority of editions that laid the basis
of modern biomedicine-including one of the world's best copies of
William Harvey's *De motu cordis* (1628) which first described the
circulation of the blood, and two copies of *De humani corporis fabrica*
(1543) by Andreas Vesalius, which was instrumental in the development of
both modern anatomy and modern medical illustration.

In addition to its rare books and nineteenth- and twentieth-century
collections, the Library is notable for its manuscripts and archives.
Within this collection are the College's own archives, the archives of
other Philadelphia medical institutions, and letters, case books, and
student notebooks that document the personal life and professional
practice of doctors in the Philadelphia region and around the world.
Among our most important manuscript collections are the bulk of extant
letters written by S. Weir Mitchell-Civil War surgeon, neurologist,
physiologist, novelist, and leading member of the College for more than
fifty years.

OPenn includes some of the items from the Historical Medical Library.
For more information on all of the special collections available at the
Historical Medical Library see:

- <http://collegeofphysicians.org/library>

### Image standards and specifications

Images from the Historical Medical Library of the College of Physicians
of Philadelphia were shot and processed by the Schoenberg Center for
Electronic Text & Image. In general, The Schoenberg Center for
Electronic Text & Image follows the NISO standards as articulated in *A
Framework for Building Good Digital Collections*, 3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>.

The following represents specific standards adopted by SCETI in their
capture of digital images.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: IQ280 80 megapixel Phase One digital camera
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript have
been captured they are color-corrected, deskewed, and cropped.  

{% endmarkdown %}