{% extends "base.html" %}

{% block title %}OPenn: Hosted collections{% endblock %}

{% block content %}

<div class="breadcrumb"><p>
    <span><a href="/">Home</a>&nbsp;</span>
</p></div>

<h1>OPenn: Hosted Collections</h1>
<ul class="ul_documents">
{% for collection in collections %}
   <li>
     <span class="coll-name"><a href="/{{context.toc_dir}}/{{collection.toc_file}}">{{collection.name}}</a><br />
       Collection: {{collection.long_id}} | Metadata format: {{ collection.metadata_type }} </span><br />
     <span>{{ collection.blurb }}</span>
   </li>
{% endfor %}
</ul>
{% endblock %}
