{% load markdown_deux_tags %}
{% markdown %}
The churches and synagogues of Philadelphia were gathering places in the
18th and 19th centuries and their records reflect the changing
political, social and cultural mores. More than 40,000 scanned images
from vestry and trustee minutes, baptismal, birth, marriage and death
records, pew rents, accounting records, sermons and correspondence will
give researchers opportunities to explore these connections.
Collaborating institutions include:

- Christ Church Philadelphia
- St. George's Methodist Church 
- Gloria Dei Church
- Mikveh Israel 
- African Episcopal Church of St. Thomas 
- Episcopal Diocese of Pennsylvania Archives 
- Presbyterian Historical Society 
- St. Peter's Episcopal Church 
- American Baptist Historical Society
- Athenaeum of Philadelphia

### Sponsorship

The documents in this collection are being digitized and made
accessible through a *Digitizing Hidden Collections* grant from the
[Council on Library and Information Resources][clir], 2016-2019. The
grant program is made possible by funding from the [Andrew W. Mellon
Foundation] [mellon].

Any views, findings, conclusions, or recommendations expressed in this
website do not necessarily reflect those of the Council on Library and
Information Resources.
 
[clir]: http://www.clir.org/hiddencollections "Council on Library and Information Resources"

[mellon]: https://mellon.org

### Licensing

#### Images

All images and their contents from the *Digitizing the Records of
Philadelphia's Historic Congregations* project are free of known
copyright restrictions and in the public domain. See the Creative
Commons Public Domain Mark page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

#### Metadata

For all manuscript descriptions and other cataloging metadata, the
copyright holder is the mansucripts' holding institution. For example,
if the manuscript is from Christ Church, then the copyright for the
manuscript descriptions and other cataloging metadata is ©2019 Christ
Church. The metadata is licensed for use under a Creative Commons CC0
Licensed version 1.0 (CC0-1.0):

- <https://creativecommons.org/publicdomain/zero/1.0/>.

For a description of the terms of use, see the Creative Commons deed:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The *Digitizing the Records of Philadelphia's Historic Congregations*
project data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented in
a manner most likely to ensure its long-term digital preservation. The
images of these manuscripts are accompanied by detailed manuscript
descriptions in machine-readable TEI format. Images and TEI manuscript
descriptions are added frequently, so check often to see new additions.

{% endmarkdown %}