{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Legacy Center, Drexel University College of Medicine

### Licensing

##### Images

All images on OPenn are in the public domain or bear Creative Commons
licenses and are available as [Free Cultural
Works](http://creativecommons.org/freeworks). As such, they can be
used freely for any purpose. Specific terms of use vary by document.
See individual items for specific terms.

##### Metadata

Unless otherwise stated, to the extent possible under law, the Legacy
Center has waived all copyright and related or neighboring rights to
its metadata hosted here. This work is published from: United States.
For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented here are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and associated metadata. It is presented in a
manner most likely to ensure its long-term digital preservation.

Some of the works from the Legacy Center have facsimiles available
online at:

- <http://xdl.drexelmed.edu/womanmd.php>

### About the Legacy Center, Drexel University College of Medicine

The Drexel University College of Medicine Legacy Center supports
research and investigation of the history of women in medicine,
history of homeopathic medicine in the United States, and the history
of women's health. Our collections are accessible online and in our
reading room in Philadelphia.

The Center is the repository for records documenting the history of
the College and its predecessor institutions, including Woman's
Medical College of Pennsylvania and Hahnemann University. Special
collections emerging from these institutions' unique and original
missions to educate women physicians and to teach homeopathy reflect
the activity of individuals, institutions, and organizations.

OPenn includes some of the items from the Center. For more information
on all of the collections available at the Legacy Center see:

- <http://archives.drexelmed.edu/>

### Image standards and specifications

##### Image specifications

In general, the Legacy Center digitizes material at the highest
possible quality, with a minimum standard for master files of 400 ppi,
8-bit grayscale or 24-bit color uncompressed tiffs.

##### Imaging and processing equipment

Scanning and processing equipment include an Epson Expression 10000XL
and a PhaseOne P30 digital camera.

{% endmarkdown %}
