{% load markdown_deux_tags %}
{% markdown %}

## Documents from Drexel University Archives and Special Collections

### Licensing

##### Images

Unless otherwise stated, all images from Drexel University Archives and
Special Collections and their content hosted here are ©2015 Drexel
University.  They are licensed for use under a Creative Commons
Attribution License version 4.0 (CC-BY-4.0):

- <https://creativecommons.org/licenses/by/4.0/legalcode>.

For a description of the terms of use see the Creative Commons Deed:

- <https://creativecommons.org/licenses/by/4.0/>.

##### Metadata

Unless otherwise stated, all manuscript descriptions and other
cataloging metadata hosted here are ©2015 Drexel University. They are
licensed for use under a Creative Commons Attribution Licensed version
4.0 (CC-BY-4.0):

- <https://creativecommons.org/licenses/by/4.0/legalcode>.

For a description of the terms of use see the Creative Commons Deed:

- <https://creativecommons.org/licenses/by/4.0/>.

### Intended Users

The data presented on Openn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

### About the Drexel University Archives and Special Collections

The Drexel University Archives and Special Collections acquires,
preserves and makes available records, manuscripts, visual materials
and publications related to the history of Drexel University. The
Archives has material related to Drexel's founders as well as Drexel
students, faculty, academic departments, administrative offices, and
campus organizations. The Special Collections house rare books and
manuscript collections, with a focus on incunabula; the history of
printing and fine press; the history of Philadelphia; the Drexel
family; and the history of education.

OPenn includes some of the items from the Archives and Special
Collections. For more information on all of the collections available
at the Archives and Special Collections see:

- <https://www.library.drexel.edu/archives/>

{% endmarkdown %}
