{% load markdown_deux_tags %}
{% markdown %}

## Documents the Archives & Special Collections at Franklin & Marshall College Library

### Licensing

##### Images

Unless otherwise stated, all images and their contents from the Archives
& Special Collections at Franklin & Marshall College Library hosted here
are free of known copyright restrictions and in the public domain. See
the Creative Commons Public Domain Mark page for more information on
terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, the Archives
& Special Collections at Franklin & Marshall College Library has waived
all copyright and related or neighboring rights to its metadata hosted
here. This work is published from: United States. For a summary of CC0
see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

Some of the works from the Archives & Special Collections at Franklin &
Marshall College Library have facsimiles available online, in a
user-friendly format, at:

- <https://digital.fandm.edu/collections/special-collections>

### About Franklin & Marshall College Library, Archives & Special Collections

The Archives & Special Collections at Franklin & Marshall College
Library organizes, preserves, and promotes the visual and written record
of the college, faculty and student scholarship, and the digital and
special collections of the library. Collections include German-American
imprints, manuscripts and rare books, posters, maps, prints, newspapers
and photographs, as well as the permanent historical record of Franklin
& Marshall College and its related institutions: Franklin College,
Marshall College, and Franklin and Marshall Academy.

OPenn includes some of the items from Franklin & Marshall College
Library, Archives & Special Collections. For more information on all of
the archives and special collections available at Franklin & Marshall
College Library see:

- <https://library.fandm.edu/archives/home>

{% endmarkdown %}
