{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Friends Historical Library, Swarthmare College

### Licensing

All images and metadata on OPenn are in the public domain or bear
Creative Commons licenses and are available as [Free Cultural
Works](http://creativecommons.org/freeworks). As such, they can be
used freely for any purpose. Specific terms of use vary by document.
See individual items for specific terms.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

### About the Friends Historical Library, Swarthmore College

Established in 1871 at Swarthmore College, two years after the College
opened, the Friends Historical Library documents the history of the
Religious Society of Friends (Quakers) from their mid-seventeenth
century origins to the present. As the largest Quaker library in the
world, it includes materials on women's suffrage, the rights of Native
Americans, the anti-slavery movement, social activism, and the peace
movement.

OPenn includes some of the items from the Friends Historical Library.
For more information on all of the collections available at the
Library see:

- <http://www.swarthmore.edu/friends-historical-library/>

### Image standards and specifications

In general, Friends Historical Library scans material at the highest
possible quality depending upon the size and condition of the
originals. Scanning specifications and scanning and processing
equipment may change from project to project.

{% endmarkdown %}
