{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Friends Historical Library, Swarthmare College

### Licensing

All images and metadata on OPenn are in the public domain or bear
Creative Commons licenses and are available as [Free Cultural
Works](http://creativecommons.org/freeworks). As such, they can be
used freely for any purpose. Specific terms of use vary by document.
See individual items for specific terms.

### Intended Users

The data presented here are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images of manuscript pages. It is presented in a
manner most likely to ensure its long-term digital preservation.

### About the Friends Historical Library, Swarthmore College

Friends Historical Library was established at Swarthmore College in
1871, two years after the College opened. Its collections document the
history of the Society of Friends (Quakers) and the testimonies of
Friends from the 17th century to the present. It is the largest Quaker
library in the world and it includes materials on women's suffrage,
the rights of Native Americans, the anti-slavery movement, social
activism, and the peace movement.

OPenn includes some of the items from the Friends Historical Library.
For more information on all of the collections available at the
Library see:

- <http://www.swarthmore.edu/friends-historical-library/>

### Image standards and specifications

In general, Friends Historical Library scans material at the highest
possible quality depending upon the size and condition of the
originals. Scanning specifications and scanning and processing
equipment may change from project to project.

{% endmarkdown %}
