{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Friends Historical Library, Swarthmare College

### Licensing

All images and metadata on OPenn are in the public domain or bear
Creative Commons licenses and are available as [Free Cultural
Works](http://creativecommons.org/freeworks). As such, they can be
used freely for any purpose. Specific terms of use vary by document.
See individual items for specific terms.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

### About the Friends Historical Library, Swarthmore College

Established in 1871 at Swarthmore College, two years after the College
opened, the Friends Historical Library documents the history of the
Religious Society of Friends (Quakers) from their mid-seventeenth
century origins to the present. As the largest Quaker library in the
world, it includes materials on women's suffrage, the rights of Native
Americans, the anti-slavery movement, social activism, and the peace
movement.

OPenn includes some of the items from the Friends Historical Library.
For more information on all of the collections available at the
Library see:

- <http://www.swarthmore.edu/friends-historical-library/>

### Image standards and specifications

In general, Friends Historical Library scans material at the highest
possible quality depending upon the size and condition of the
originals. Scanning specifications and scanning and processing
equipment may change from project to project.

Images of the Farrell family Bible (BS75 1200z) were shot and processed
by the Schoenberg Center for Electronic Text & Image for *Bibliotheca
Philadelphiensis*. In general, The Schoenberg Center for Electronic Text
& Image follows the NISO standards as articulated in *A Framework for
Building Good Digital Collections*, 3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>.

The following represents specific standards adopted by SCETI in their
capture of digital images.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: IQ280 80 megapixel Phase One digital camera
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript have
been captured they are color-corrected, deskewed, and cropped.  

As of 2015, SCETI has been using IQ280 Phase One digital cameras;
however, OPenn contains images that were captured using different
equipment before this time. If you have questions about a specific
manuscript or image, please refer to the individual XMP files located in
the Data folder.  See a portion of a sample XMP file below:

 <rdf:Description rdf:about=''
  xmlns:tiff='http://ns.adobe.com/tiff/1.0/'>
  <tiff:BitsPerSample>
   <rdf:Seq>
    <rdf:li>8</rdf:li>
    <rdf:li>8</rdf:li>
    <rdf:li>8</rdf:li>
   </rdf:Seq>
  </tiff:BitsPerSample>
  <tiff:Compression>1</tiff:Compression>
  <tiff:ImageLength>3499</tiff:ImageLength>
  <tiff:ImageWidth>3546</tiff:ImageWidth>
  *<tiff:Make>Phase One</tiff:Make>*
  *<tiff:Model>P 45+</tiff:Model>*
  <tiff:Orientation>1</tiff:Orientation>
  <tiff:PhotometricInterpretation>2</tiff:PhotometricInterpretation>
  <tiff:PlanarConfiguration>1</tiff:PlanarConfiguration>
  <tiff:ResolutionUnit>2</tiff:ResolutionUnit>
  <tiff:SamplesPerPixel>3</tiff:SamplesPerPixel>
  <tiff:Software>Capture One 4 Windows</tiff:Software>
  <tiff:XResolution>600/1</tiff:XResolution>
  <tiff:YResolution>600/1</tiff:YResolution>
 </rdf:Description>

{% endmarkdown %}
