{% load markdown_deux_tags %}
{% markdown %}
This initiative will digitize, describe, an provide access to 140,000
pages of lecture tickets, course schedules, theses, dissertations,
student notes, faculty lecture notes, commencement addresses, opening
addresses, and matriculation records from Philadelphia, 1746-1868. The
project will emphasize not only the voices of the medical greats, but
also the often unheard voices of students and others. Project parters
for this initiative are:

- The College of Physicians of Philadelphia
- The Legacy Center, Drexel University College of Medicine
- University of Pennsylvania Libraries
- Pennsylvania Hospital Historic Collections
- The Library Company of Philadelphia
- American Philosophical Society
- Thomas Jefferson University Archives and Special Collections
- Philadelphia Area Consortium of Special Collections Libraries (PACSCL)

### Sponsorship

The items in this collection are being digitized and made accessible
through a *Digitizing Hidden Collections* grant from the [Council on
Library and Information Resources][clir], 2016-2019. The grant program
is made possible by funding from the [Andrew W. Mellon
Foundation][mellon]. Imaging was undertaken by the staff of the
Schoenberg Center for Electronic Text & Image.

Any views, findings, conclusions, or recommendations expressed in this
website do not necessarily reflect those of the Council on Library and
Information Resources.

[clir]: http://www.clir.org/hiddencollections "Council on Library and Information Resources"

[mellon]: https://mellon.org

### Licensing

#### Images

All images and their contents from the *For the Health of the New
Nation: Philadelphia as the Center of American Medical Education,
1746-1868* project are free of known copyright restrictions and in the
public domain. See the Creative Commons Public Domain Mark page for more
information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

#### Metadata

For all manuscript descriptions and other cataloging metadata, the
copyright holder is the mansucripts' holding institution. For example,
if the manuscript is from The Library Company of Philadelphia, then the
copyright for the manuscript descriptions and other cataloging metadata
is ©2020 The Library Company of Philadelphia. The metadata is licensed
for use under a Creative Commons CC0 Licensed version 1.0 (CC0-1.0):

- <https://creativecommons.org/publicdomain/zero/1.0/>.

For a description of the terms of use, see the Creative Commons deed:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.
{% endmarkdown %}
