{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Historical Society of Pennsylvania

### Licensing

##### Images

Unless otherwise stated, all images from the Historical Society of
Pennsylvania and their content hosted here are ©2015 Historical Society
of Pennsylvania. They are licensed for use under a Creative Commons
Attribution License version 4.0 (CC-BY-4.0):

- <https://creativecommons.org/licenses/by/4.0/legalcode>.

For a description of the terms of use see the Creative Commons Deed:

- <https://creativecommons.org/licenses/by/4.0/>.

##### Metadata

Unless otherwise stated, all manuscript descriptions and other
cataloging metadata hosted here are ©2015 Historical Society of
Pennsylvania. They are licensed for use under a Creative Commons
Attribution Licensed version 4.0 (CC-BY-4.0):

- <https://creativecommons.org/licenses/by/4.0/legalcode>.

For a description of the terms of use see the Creative Commons Deed:

- <https://creativecommons.org/licenses/by/4.0/>.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

Some of the works from the Historical Society of Pennsylvania have
facsimiles available online, in a user-friendly format, at:

- <http://digitallibrary.hsp.org/>.

### About the Historical Society of Pennsylvania

Founded in 1824 in Philadelphia, the Historical Society of
Pennsylvania is one of the oldest historical societies in the United
States and is home to some 600,000 printed items and more than 21
million manuscript and graphic items. Its collections encompass more
than 350 years of America’s history—from its 17th-century origins to
the contributions of its most recent immigrants. The society is one of
the largest family history libraries in the nation, has preeminent
printed collections on Pennsylvania and regional history, and offers
manuscript collections renowned for their strength in 17th-, 18th-,
and 19th-century history. With the addition of the holdings of The
Balch Institute for Ethnic Studies in 2002 (and those of The
Genealogical Society of Pennsylvania in 2006 through a Strategic
Alliance Agreement), the Society has become a chief center for the
documentation and study of ethnic communities and immigrant
experiences.

OPenn includes some of the items from the Historical Society of
Pennsylvania. For more information on all available collections see:

- <http://hsp.org/collections>

### Image standards and specifications

The Historical Society of Pennsylvania follows the NISO standards as
articulated in *A Framework for Building Good Digital Collections*,
3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>

#### Image specifications

Archival master TIFF images are at least 300 dpi 24-bit LZW color
image. Color targets are used for every exposure

#### Imaging and processing equipment

- Cameras: Hasselblad H3DII-39MS SLR digital camera with Hasselblad 80mm
and 120mm lens. The Hasselblad is a state-of-the-art megapixel camera.
Processing: Adobe Photoshop CS5 and the Hasselblad proprietary Phocus
software.
- Book/Planetary Scanner: COPIBOOK Cobalt. Camera: CCD area sensor 3 x
63 megapixels (RGB). Optical resolutions: 400 x 400 dpi to 600 x 600
dpi. Output: 24-bit color, 8-bit grayscale, 1-bit binary. Automated
settings: focus, exposure time, white balance, format detection,
lighting correction.

{% endmarkdown %}
