{% load markdown_deux_tags %}
{% markdown %}


## Documents from the Hill Museum and Manuscript Library

### Licensing

##### Images

Unless otherwise stated, to the extent possible, the Hill Museum and Manuscript Library has granted public access to these works under Creative Commons Attribution 4.0 International (CC BY 4.0) license. In all presentations and publications, all multispectral images should be credited to &quot;R.B. Toth Associates/Equipoise Imaging&quot; and all XRF images must acknowledge use of the SLAC laboratory with the following &quot;Use of the Stanford Synchrotron Radiation Lightsource, SLAC National Accelerator Laboratory, is supported by the U.S. Department of Energy, Office of Science, Office of Basic Energy Sciences under Contract No. DE-AC02-76SF00515.&quot;

Users are free to 1) Share: copy and redistribute the material in any medium or format, and 2) Adapt: remix, transform, and build upon the material, for any purpose, even commercially. This work is published from the United States. For a summary of CC 4.0 see:

- [https://creativecommons.org/licenses/by/4.0/](https://creativecommons.org/licenses/by/4.0/).

Legal code:

- [https://creativecommons.org/licenses/by/4.0/legalcode](https://creativecommons.org/licenses/by/4.0/legalcode).

##### Metadata

All manuscript descriptions and other cataloging metadata hosted here are ©2020 Hill Museum and Manuscript Library. They are licensed for use under the GNU Free Documentation License:

- [http://www.gnu.org/copyleft/fdl.html](http://www.gnu.org/copyleft/fdl.html)

### Intended Users

The HMML Palimpsest data presented on OPenn are intended for public use, including by aggregators, researchers, students, supporters, conservators and scholars to access and use high-resolution multispectral and advanced XRF images and their associated metadata. They are presented in a manner most likely to ensure their long-term digital preservation.

The data presented here, will also be presented in a user-friendly searchable interface at: [https://www.vhmml.org/](https://www.vhmml.org/)

### About the Hill Museum &amp; Manuscript Library (HMML)

The Hill Museum &amp; Manuscript Library (HMML), located at Saint John&#39;s University in Collegeville, Minnesota, holds the world&#39;s largest archive of manuscript photographs in both microfilm and digital format. HMML identifies manuscript collections around the world that need photographic preservation. HMML&#39;s archives now contain more than 200,000 complete manuscripts, ranging in size from large codices of hundreds of folios to brief documents consisting of just a few leaves. For more information on the Hill Museum and Manuscript Library see:

- [http://hmml.org/](http://hmml.org/)

For more information on the Hill Museum and Manuscript Library collection see:

- [http://hmml.org/manuscripts/](http://hmml.org/manuscripts/)

And for more information on vHMML see:

- [https://www.vhmml.org/](https://www.vhmml.org/)

{% endmarkdown %}
