{% load markdown_deux_tags %}
{% markdown %}

## Documents from The Huntington Library

### Licensing

##### Images
 
Unless otherwise stated, all images and their contents from The
Huntington Library are free of known copyright restrictions and in the
public domain. See the Creative Commons Public Domain Mark page for more
information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, The
Huntington Library has waived all copyright and related or neighboring
rights to its metadata hosted here. This work is published from: United
States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

Some of the works from The Huntington Library have facsimiles available
online, in a user-friendly format, at:

- <http://hdl.huntington.org>.

The manuscript for the *Autobiography of Benjamin Franklin* is available
online on The Huntington Digital Library at:

- <http://hdl.huntington.org/cdm/ref/collection/p15150coll7/id/246>.

### About The Huntington Library

The Huntington Library is one of the largest and most complete research
libraries in the United States in its fields of specialization. The
Library’s collection of rare books, manuscripts, prints, photographs,
maps, and other materials in the fields of British and American history
and literature totals more than nine million items.

OPenn hosts one item from The Huntington Library, the *Autobiography of
Benjamin Franklin, (Autograph manuscript signed), 1771-1789*. For more
information on all of the special collections available at The
Huntington Library see:

- <http://www.huntington.org/WebAssets/Templates/general.aspx?id=17334>

### Image standards and specifications

Master images are captured at a resolution of at least 400 pixels per
inch of the image subject.

{% endmarkdown %}
