{% load markdown_deux_tags %}
{% markdown %}
Penn Libraries holds more than 3,000 manuscripts from South Asia, making
it one of the largest collections of its kind in the Americas.
Predominantly Indic in provenance, the manuscripts are chiefly Sanskrit
works written in Devanāgarī script. Though generally informed by
traditional Hindu learning, the collection nevertheless remains
thematically comprehensive and contains significant Buddhist and Jain
texts.

### Sponsorship

In 2014 the Division of Preservation and Access of the National
Endowment for the Humanities awarded the Penn Libraries a grant to
digitize the Penn Libraries Indic manuscripts collection. At the
conclusion of this project Penn produced 1,728 MARC cataloging records
in WorldCat and Franklin and full digital facsimiles of approximately
2,700 Indic manuscripts. The collection is the largest in North America
and contains materials from 1200 to 1930 in Sanskrit, Hindi, Marathi,
Awadhi, Nepali, Braj, classical Tamil, Thai, Prakrit, and Pali. The
imaging has been undertaken by the staff of the Schoenberg Center for
Electronic Text & Image with coordination from manuscripts staff in the
Rare Book & Manuscript Library at the Kislak Center.

### Licensing

#### Images

All images and their contents from the Collection of Indic Manuscripts
project are free of known copyright restrictions and in the public
domain. See the Creative Commons Public Domain Mark page for more
information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

#### Metadata

For all manuscript descriptions and other cataloging metadata, the
copyright holder is the mansucripts' holding institution. For example,
if the manuscript is from the University of Pennsylvania, then the
copyright for the manuscript descriptions and other cataloging metadata
is ©2020 University of Pennsylvania. The metadata is licensed for use
under a Creative Commons CC0 Licensed version 1.0 (CC0-1.0):

- <https://creativecommons.org/publicdomain/zero/1.0/>.

For a description of the terms of use, see the Creative Commons deed:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The *Collection of Indic Manuscripts* data presented on OPenn is
intended for aggregators, digital humanists, and scholars who have been
directed here to procure high-resolution images and their associated
metadata. It is presented in a manner most likely to ensure its
long-term digital preservation. The images of these manuscripts are
accompanied by detailed manuscript descriptions in machine-readable TEI
format. Images and TEI manuscript descriptions are added frequently, so
check often to see new additions.
{% endmarkdown %}