{% load markdown_deux_tags %}
{% markdown %}

## Documents from La Salle University, Department of Special Collections

### Licensing

##### Images

Unless otherwise stated, all images from La Salle University, Department
of Special Collections and their content hosted here are ©2020 La Salle
University. They are licensed for use under a Creative Commons
Attribution License version 4.0 (CC-BY-4.0):

- <https://creativecommons.org/licenses/by/4.0/legalcode>.

For a description of the terms of use see the Creative Commons Deed:

- <https://creativecommons.org/licenses/by/4.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, La Salle
University has waived all copyright and related or neighboring rights to
its metadata hosted here. This work is published from: United States.
For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

### About La Salle University, Department of Special Collections

The Department of Special Collections in the Connelly Library houses a
diverse range of materials, from 15th century illuminated devotionals to
subject collections treating contemporary social issues. Bodies of work
include literature, music, films, art, archival material and ephemera.
The collections explore a variety of themes in aural, narrative and
illustrative form. Special Collections maintains a focus on acquiring,
cataloging and housing unique material that is tied to undergraduate
pedagogy and is freely available to researchers. The Department of
Special Collections is a proud member of the Philadelphia Area
Consortium of Special Collections Libraries.

OPenn includes some of the items from La Salle University, Department of
Special Collections. For more information on all available collections
see:

- <https://library.lasalle.edu/special-collections/home>

### Image standards and specifications

Images from the La Salle University, Department of Special Collections
were shot and processed by the Schoenberg Center for Electronic Text &
Image. In general, The Schoenberg Center for Electronic Text & Image
follows the NISO standards as articulated in *A Framework for Building
Good Digital Collections*, 3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>.

The following represents specific standards adopted by SCETI in their
capture of digital images.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: IQ280 80 megapixel Phase One digital camera
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript have
been captured they are color-corrected, deskewed, and cropped.

{% endmarkdown %}
