{% load markdown_deux_tags %}
{% markdown %}

## Documents from Lehigh University Libraries, Special Collections

### Licensing

##### Images

Unless otherwise stated, all images from Lehigh University Libraries,
Special Collections and their content hosted here are ©2015 Lehigh
University. They are licensed for use under a Creative Commons
Attribution License version 4.0 (CC-BY-4.0):

- <https://creativecommons.org/licenses/by/4.0/legalcode>.

For a description of the terms of use see the Creative Commons Deed:

- <https://creativecommons.org/licenses/by/4.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, Lehigh
University has waived all copyright and related or neighboring rights
to its metadata hosted here. This work is published from: United
States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

### About Lehigh University Libraries, Special Collections

Lehigh University Special Collections serves as the repository for the
University's collections of rare books and manuscripts, and for
holdings relating to its own history. It encompasses a rare book
collection of over 25,000 volumes, with first editions of English and
American literature from the 17th to the 19th centuries. Its strengths
include travel and exploration, natural history and ornithology, and
works of historical significance in science and technology. Materials
relating to the University include documents and publications of the
University, papers of faculty members, and memorabilia from the
University's history. In addition, Special Collections is the
repository for Lehigh theses and dissertations. Holdings in the
history of technology concentrate on large scale construction,
including a number of classic and seminal works on bridge building and
design, and construction with iron and steel. Special Collections also
holds manuscripts and personal papers, in addition to papers relating
to the University's history.

OPenn includes some of the items from Lehigh University Libraries'
Special Collections. For more information on all available collections
see:

- <https://www.lehigh.edu/library/speccoll/>

### Image standards and specifications

In general, Lehigh University Libraries scans material at the highest
possible quality depending upon resources. Scanning specifications and
scanning and processing equipment may change from project to project.

{% endmarkdown %}
