{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Library of Congress

### Licensing

##### Images

All images and their contents from the Library of Congress hosted here
are free of known copyright restrictions and in the public domain. See
the Creative Commons Public Domain Mark page for more information on
terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, the Library
of Congress has waived all copyright and related or neighboring rights
to its metadata hosted here. This work is published in the United
States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata.  It is presented
in a manner most likely to ensure its long-term digital preservation.
The images of these manuscripts are accompanied by detailed manuscript
descriptions in machine-readable TEI format.

OPenn includes some of the items from the Library of Congress. For more
information on all of the collections available at the Library of
Congress see:

- <https://www.loc.gov/collections>.

### About the Library of Congress

Today's Library of Congress is an unparalleled world resource. The
enormous size and variety of its collections make it the largest library
in the world. The collection of more than 168 million items includes
more than 39 million catalogued books and other print materials in 470
languages; more than 72 million manuscripts; the largest rare book
collection in North America; and the world's largest collection of legal
materials, films, maps, sheet music and sound recordings.

### Image standards and specifications

Images from the Library of Congress collections on OPenn were shot and
processed by the Library of Congress. For more information about this
process see:

-<http://www.loc.gov/preservation/digital> 

{% endmarkdown %}
