{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Lutheran Archives Center at Philadelphia

### Licensing

##### Images

Unless otherwise stated, all images and their contents from the
Lutheran Theological Seminary are free of known copyright restrictions
and in the public domain. See the Creative Commons Public Domain Mark
page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, the
Lutheran Archives Center has waived all copyright and related or
neighboring rights to its metadata hosted here. This work is published
from: United States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

OPenn includes some of the items from the Lutheran Archives Center.
For more information on all available collections see:

- <http://ltsp.edu/academics/library/>

### About the Lutheran Archives Center at Philadelphia

The Lutheran Archives Center at Philadelphia is the Northeast Regional
Archives (Region 7) for the Evangelical Lutheran Church in America
(ELCA). It is a part of a network of nine regional archives programs
and a national level (church-wide) archives in the ELCA. Our service
area is limited to Eastern Pennsylvania, New Jersey, Upstate New York
(excluding the Metropolitan New York City area) and New England. We
carry on the work of our predecessors in the first Lutheran Church
organization in America, the Evangelical Lutheran Ministerium of
Pennsylvania and Adjacent States, founded on August 15, 1748 by Henry
Melchior Muhlenberg. The archives was recognized as a part of the
church organization in 1792.

The Archives has been housed on the campus of the Philadelphia
Seminary since 1889 as is located in the undercroft of the new
Brossman Learning Center. The Archives collections are now completely
contained in a large vault area with compact shelving, now better
organized. A reference library room provides books frequently used, as
well as space for researchers to work in comfortable surroundings. The
Archives office is across the hall. The Seminary has provide the new
space for the present and future.

Collections include personal papers of Lutheran clergy, theologians,
and church workers; archives of church organizations; and records of
congregations.

OPenn includes some of the items from the Lutheran Archives Center.
For more information on all available collections see:

- <http://ltsp.edu/academics/the-ltsp-experience/the-community/the-lutheran-archives-center-at-philadelphia/>

{% endmarkdown %}
