{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Lutheran Theological Seminary

### Licensing

##### Images

Unless otherwise stated, all images and their contents from the
Lutheran Theological Seminary are free of known copyright restrictions
and in the public domain. See the Creative Commons Public Domain Mark
page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, the
Lutheran Theological Seminary has waived all copyright and related or
neighboring rights to its metadata hosted here. This work is published
from: United States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

### Intended Users

These are materials from the Lutheran Theological Seminary.  The data
presented here are intended for aggregators, digital humanists, and
scholars who have been directed here to procure high-resolution images
and associated metadata. It is presented in a manner most likely to
ensure its long-term digital preservation.

OPenn includes some of the items from the Lutheran Theological
Seminary. For more information on all available collections see:

- <http://ltsp.edu/academics/library/>

{% endmarkdown %}
