{% load markdown_deux_tags %}
{% markdown %}
Manuscripts of the Muslim World will include digital editions of more
than 500 manuscripts and 827 paintings from the Islamicate world broadly
construed. Together these holdings represent in great breadth the
flourishing intellectual and cultural heritage of Muslim lands from 1000
to 1900, covering mathematics, astrology, history, law, literature, as
well as the Qur'an and Hadith. The bulk of the collection consists of
manuscripts in Arabic and Persian, along with examples of Coptic,
Samaritan, Syriac, Turkish, and Berber. The primary partners are
Columbia University, the Free Library of Philadelphia, and the
University of Pennsylvania with signifiant contributions from Bryn Mawr
College and Haverford College. This collection is funded by the Council
on Library and Information Resources.
{% endmarkdown %}