{% load markdown_deux_tags %}
{% markdown %}

The [PACSCL Diaries Project][pacscl] allows researchers an intimate
view into a wide variety of personalities, largely from Philadelphia, as
they went about their daily lives and commented on the world around
them. The project provides an online archive of diaries drawn from 16
PACSCL member collections. OPenn currently hosts a pilot group of 63
diary volumes. Participating PACSCL member libraries are:

[pacscl]: http://diaries.pacscl.org "PACSCL Diaries Project"

- Abraham Lincoln Foundation of The Union League of Philadelphia
- Barbara Bates Center for the Study of Nursing
- Bryn Mawr College Library Special Collections
- Drexel University Archives and Special Collections
- Friends Historical Library, Swarthmore College
- German Society of Pennsylvania
- Historical Society of Pennsylvania
- J. Welles Henderson Archives and Library of the Independence Seaport Museum
- Legacy Center, Drexel University College of Medicine
- Lutheran Archives Center at Philadelphia
- Penn Museum Archives
- Quaker and Special Collections, Haverford College
- Rare Collections Library of the State Library of Pennsylvania
- Special Collections, Lehigh University Library
- The Library Company of Philadelphia 
- Kislak Center for Special Collections, Rare Books and Manuscripts, University of Pennsylvania

### Sponsorship

This is a PACSCL community project.  The project was funded by in-kind
contributions from PACSCL members, and the [PACSCL Diaries website]
[pacscl] will be financially sustained by PACSCL.  

### Licensing

#### Images

Images and their contents from the PACSCL Diaries project are available
under various licenses.  Some are in the public domain and some are
available under a Creative Commons Attribution License version 4.0
(CC-BY-4.0).  Please check individual document pages to determine under
which license the images are available.

#### Metadata

Manuscript descriptions and other cataloging metadata are available
under various licenses.  Some are in the public domain and some are
available under a Creative Commons Attribution License version 4.0
(CC-BY-4.0).  Please check individual document pages to determine under
which license the metadata is available.

### Intended Users

The PACSCL Diaries data presented on OPenn is intended for aggregators,
digital humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented in
a manner most likely to ensure its long-term digital preservation. The
images of these manuscripts are accompanied by detailed manuscript
descriptions in machine-readable TEI format. 

### Image Standards and Specifications

Most of the diaries have been previously digitized, with a small number
digitized by the Schoenberg Center for Electronic Text and Image.  In
all cases, images with the highest resolution available were included in
this project. 

The images captured by the Schoenberg Center for Electronic Text and
Image follow the NISO standards as articulated in *A Framework for
Building Good Digital Collections*, 3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF image, 600 ppi 24-bit LZW
  color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: Two auto-focus, 39 megapixel, Phase One P45 digital
  cameras.
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

{% endmarkdown %}