{% load markdown_deux_tags %}
{% markdown %}

## Documents from the University of Pennsylvania

### Licensing

##### Images

All images and their contents from the University of Pennsylvania
Libraries' Collections are free of known copyright restrictions and in
the public domain.  See the Creative Commons Public Domain Mark page
for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, all manuscript descriptions and other
cataloging metadata hosted here are ©{% now "Y" %} The University of
Pennsylvania Libraries. They are licensed for use under a Creative
Commons Attribution Licensed version 4.0 (CC-BY-4.0):

- <https://creativecommons.org/licenses/by/4.0/legalcode>.

For a description of the terms of use, see the Creative Commons Deed:

- <https://creativecommons.org/licenses/by/4.0/>.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata.  It is presented
in a manner most likely to ensure its long-term digital preservation.
The images of these manuscripts are accompanied by detailed manuscript
descriptions in machine-readable TEI format.  Images and TEI
manuscript descriptions are added frequently, so check often to see
new additions.

For those who would prefer to experience the data in a more
user-friendly way, we suggest:

- [Penn in Hand][pih], bibliographic information and digital
  facsimiles for selected collections of manuscripts
  (<http://dla.library.upenn.edu/dla/medren/index.html>).

[pih]: http://dla.library.upenn.edu/dla/medren/index.html "Penn in Hand"

### About the Rare Books and Manuscripts Library, University of Pennsylvania

With approximately 250,000 printed books and nearly ten million pieces
of manuscript material, the Rare Book and Manuscript Library is a
small part of the University's 5 million-volume library system. The
Rare Book and Manuscript Library serves faculty and students across
the Penn campus and around the world. Special strengths also include
American literature, drama, and history; English, Spanish, Italian,
and German literature; the Edgar Fahs Smith Memorial Collection in the
history of chemistry; and the Horace Howard Furness Memorial Library
devoted to Shakespeare and his contemporaries.

Penn holds over 2,000 Western manuscripts produced before the 19th
century; medieval and Renaissance manuscripts comprise approximately
900 items, the earliest dating from 1000 A.D. The medieval manuscripts
at the University of Pennsylvania, now a collection of approximately
250 items, have been considered and used as a research collection
since the private library of church historian Henry Charles Lea came
to the University in the early 20th century.  Most of the manuscripts
are in Latin, but the medieval vernacular languages of Middle English,
Middle French, Italian, Spanish, German, Dutch, and Judaeo-Arabic are
each represented by one or more manuscripts.  They date from the year
1000 through the 15th century.  The collection is particularly strong
in the fields of church history and history of science, with secondary
strengths in liturgy and liturgical chant, theology and philosophy,
and legal documents.

Over half the manuscripts of the 17th and 18th centuries are records of
the political, economic, legal, and social history of Italian noble
families and communities.  In addition to Italian, the other major
languages of the early modern manuscripts are Latin, Spanish, French,
English, and German. Portuguese, Dutch, Arabic, Persian, and Hebrew are
represented by a small number of manuscripts.  Other subject strengths
of the collection in these centuries are Aristotelian and scholastic
philosophy, in the form of commentaries and lecture notes; science,
particularly astronomy and chemistry; and occult practices such as
alchemy.

OPenn includes some of the items from the Rare Books and Manuscripts
Library. For more information on all available collections see:

- <http://www.library.upenn.edu/kislak/>

### Image standards and specifications

In general, The Schoenberg Center for Electronic Text & Image follows
the NISO standards as articulated in *A Framework for Building Good
Digital Collections*, 3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>.

The following represents specific standards adopted by SCETI in their
capture of digital images.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: IQ280 80 megapixel Phase One digital camera
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript have
been captured they are color-corrected, deskewed, and cropped.  

In 2015, SCETI began using IQ280 Phase One digital cameras; however,
OPenn contains images that were captured using different equipment
before this time. If you have questions about a specific manuscript or
image, please refer to the header of the Master image or images in
question or the accompanying XMP files.  You can see this, for example,
in the Master images for Penn Manuscript Ms. Codex 1096  at
<http://openn.library.upenn.edu/Data/0002/mscodex1096/data/master/>.
Note the metadata in the image header of `0396_0000.tif` or in its
sidecar XMP file `0396_0000.tif.xmp` as seen below.  

<rdf:Description rdf:about=''
  xmlns:tiff='http://ns.adobe.com/tiff/1.0/'>
  <tiff:BitsPerSample>
   <rdf:Seq>
    <rdf:li>8</rdf:li>
    <rdf:li>8</rdf:li>
    <rdf:li>8</rdf:li>
   </rdf:Seq>
  </tiff:BitsPerSample>
  <tiff:Compression>1</tiff:Compression>
  <tiff:ImageLength>6121</tiff:ImageLength>
  <tiff:ImageWidth>4655</tiff:ImageWidth>
  <tiff:Make>Phase One</tiff:Make>
  <tiff:Model>P 45+</tiff:Model>
  <tiff:Orientation>1</tiff:Orientation>
  <tiff:PhotometricInterpretation>2</tiff:PhotometricInterpretation>
  <tiff:PlanarConfiguration>1</tiff:PlanarConfiguration>
  <tiff:ResolutionUnit>2</tiff:ResolutionUnit>
  <tiff:SamplesPerPixel>3</tiff:SamplesPerPixel>
  <tiff:Software>Capture One 4 Windows</tiff:Software>
  <tiff:XResolution>600/1</tiff:XResolution>
  <tiff:YResolution>600/1</tiff:YResolution>
 </rdf:Description>

### Sponsorship

Images of manuscripts from the Penn Collections were digitized through
grants from the National Endowment for the Humanities. The Division of
Preservation and Access of the National Endowment for the Humanities
awarded the Penn Libraries two grants (in 2009 and 2011) to prepare
digital facsimiles of approximately 2,200 European and American
manuscripts from the eleventh through the eighteenth
centuries. Imaging was undertaken by the staff of the Schoenberg
Center for Electronic Text & Image with coordination from manuscripts
staff in the Kislak Center for Special Collections, Rare Books and
Manuscripts.

Any views, findings, conclusions, or recommendations expressed in this
website do not necessarily reflect those of the National Endowment for
the Humanities.

{% endmarkdown %}
