{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Philadelphia Museum of Art

### Licensing

##### Images
 
Unless otherwise stated, all images and their contents from the
Philadelphia Museum of Art hosted here are free of known copyright
restrictions and in the public domain. See the Creative Commons Public
Domain Mark page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, the
Philadelphia Museum of Art has waived all copyright and related or
neighboring rights to its metadata hosted here. This work is published
from: United States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

Some of the works from the Philadelphia Museum of Art have facsimiles
available online, in a user-friendly format, at:

- <https://www.philamuseum.org/collections/serach.html>

### About the Philadelphia Museum of Art

The Philadelphia Museum of Art houses a world-renowned collection in a
landmark building. Highlights of the collection include: the largest and
most importnat collection of works by Marcel Duchamp; the greatest
collection of sculpture by Constantin Brancusi outside Europe. The
finest public collection of Auguste Rodin's sculpture in the United
States; superb Impressionist and Post-Impressionist paintings by Edouard
Manet, Claude Monet, Pierre-Auguste Renoir, Camille Pissarro and Edgar
Degas; exceptional American painting, sculpture, furniture, silver, and
ceramics that reflect Philadelphia's central role in American history;
and extraordinary "period rooms" and architectural ensembles from around
the world.  The museum's landmark building, opened in 1928 at the
western end of Benjamin Franklin Parkway. The other buildings that make
up its campus include the Perelman Building, the Rodin Museum, and the
two great eighteenth-century houses in Fairmount Park, Mount Pleasant
and Cedar Grove.

OPenn includes some of the items from the Philadelphia Museum of Art.
For more information on all of the collections available at the
Philadelphia Museum of Art see:

- <https://www.philamuseum.org/explore/>

### Image standards and specifications

Images from the Philadelphia Museum of Art were shot and processed by
the Schoenberg Center for Electronic Text & Image. In general, The
Schoenberg Center for Electronic Text & Image follows the NISO standards
as articulated in *A Framework for Building Good Digital Collections*,
3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>.

The following represents specific standards adopted by SCETI in their
capture of digital images.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: IQ280 80 megapixel Phase One digital camera
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript have
been captured they are color-corrected, deskewed, and cropped.  

{% endmarkdown %}
