{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Rare Collections Library, State Library of Pennsylvania

### Licensing

##### Images

All images on OPenn are in the public domain or bear Creative Commons
licenses and are available as [Free Cultural
Works](http://creativecommons.org/freeworks). As such, they can be
used freely for any purpose. Specific terms of use vary by document.
See individual items for specific terms.

##### Metadata

Unless otherwise stated, all manuscript descriptions and other
cataloging metadata are ©2015 State Library of Pennsylvania. They are
licensed for use under a Creative Commons Attribution Licensed version
4.0 (CC-BY-4.0):

- <https://creativecommons.org/licenses/by/4.0/legalcode>.

For a description of the terms of use see the Creative Commons Deed:

- <https://creativecommons.org/licenses/by/4.0/>.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

### About the Rare Collections Library, State Library of Pennsylvania

The State Library of Pennsylvania collects and preserves the written
heritage of the Commonwealth through materials published for, by, and
about Pennsylvania. The strengths of the Rare Collections Library
include Pennsylvania imprints, government documents, original
newspapers, pamphlets, maps and atlases, and rare works of
Pennsylvania religion, natural history, and genealogy.

The core of the Rare Collections Library is the Assembly Collection,
numbering over 400 volumes.  These books were purchased by
Pennsylvania's legislators beginning in 1745 to serve their needs in
crafting legislation and governing the Commonwealth. Comprised largely
of law books, the Assembly Collection also contains dictionaries,
books on architecture, philosophy, history and religion. At the center
of the Assembly Collection is the 1739 Assembly Bible, upon which
generations of Pennsylvania's elected leaders have taken their oaths
of office.

OPenn includes some of the items from the Rare Collections Library.
For more information on all available collections see:

- <http://www.portal.state.pa.us/portal/server.pt/community/collections/8728/rare_collections_library/565860>

{% endmarkdown %}
