{% load markdown_deux_tags %}
{% markdown %}

## Documents from the African Episcopal Church of St. Thomas

### Licensing

##### Images

Unless otherwise stated, all images and their contents from the African
Episcopal Church of St. Thomas hosted here are free of known copyright
restrictions and in the public domain. See the Creative Commons Public
Domain Mark page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, the African
Episcopal Church of St. Thomas has waived all copyright and related or
neighboring rights to its metadata hosted here. This work is published
in the United States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

### About the African Episcopal Church of St. Thomas

The African Episcopal Church of St. Thomas was an outgrowth of the
African Church of Philadelphia founded in 1792 by the Free African
Society, a mutual aid organization, established in 1787 by Absalom Jones
and Richard Allen for the purpose of encouraging religion and literacy,
and providing destitute members--especially widows and orphans-- with
financial assistance. Absalom Jones led the congregation and became the
first African American admitted to Holy Orders in the Episcopal Church
when Bishop William White ordained him a deacon in 1796 and a priest in
1802. Richard Allen formed Mother Bethel African Methodist Episcopal
Church which became a separate Methodist denomination. Records consist
of vestry minutes, pew rents, birth and baptismal records, as well as
some records of the Free African Society.

### Image standards and specifications

The materials from the African Episcopal Church of St. Thomas on OPenn
were scanned as part of a CLIR-funded project to digitize the early
records of Philadelphia’s oldest congregations. Materials were digitized
at the Regional Digital Imaging Center of the Athenaeum of Philadelphia.

#### Image specifications

Archival masters are at least 300 ppi 24-bit color uncompressed TIFF
images. Most images are scanned at 600 ppi. Archival images have been
cropped and rotated, but have not been sharpened or color adjusted. The
images use the AdobeRGB profile.

#### Imaging and processing equipment

Book Scanner: BookEye 4 V1A Professional

- Maximum scan size: 25 x 33.5 inches. 
- Maximum resolutions: 600 dpi 
- Scanner has a V-cradle for open volumes, as well as a glass plate to
hold originals flat. Depending on the original item, one of these
features may be used to complete the scan. 
- Scanner provides automatic page splitting and cropping

Overhead Scanner: Cruse CS 220 ST

- Scan bed / size: 48 x 72 inches magnetic platform with vacuum table 
- Focus system: Autofocus - Scanner: 24 or 48 bit color 
- Maximum scan size: 14.4k x 26.64k pixels 
- PPI: 48 x 72 inches at 300 ppi ; 23 x 45 inches at 600 ppi 
- Maximum file size: 1.1 GB, 3x8 bit 
- Lighting: High frequency cold-cathode, 4 x 55 Watts with texture
lighting effect

{% endmarkdown %}