{% extends "base.html" %}

{% block title %}{{ collection.name }}{% endblock %}

{% block content %}

<div class="breadcrumb">
  <p>
    <span><a href="/">Home</a></span>&nbsp;|&nbsp;<span><a href="/Collections.html">Collections</a><span>
  </p>
</div>

<h1>{{ collection.name }}</h1>

{% include collection.include_file %}

<h2>The documents on OPenn</h2>

<ul>
  {% for item in items %}
  <li>
    <span class="item-id">{{ item.document.call_number }}:</span>
    <span class="item-name">{{ item.document.title }}</span>
    {% with origin=item.origin %}
    {% if origin|length > 0 %}
    <span class="item-origin">({{ origin|join:', '}})</span>
    {% endif %}
    {% endwith %}
    <br/>
    <span class="page-link"><a href="/{{ item.document.browse_path }}">Browse</a></span> |
    <span class="page-link"><a href="/{{ item.document.tei_path }}">TEI XML</a></span> |
    <span class="page-link"><a href="/{{ item.document.package_dir }}">Data</a></span>
  </li>
  {% endfor %}
</ul>
{% endblock %}
