{% extends "base.html" %}

{% block title %}{{ collection.name }}{% endblock %}

{% block content %}

<div class="breadcrumb">
  <p>
    <span><a href="/">Home</a></span>&nbsp;|&nbsp;<span><a href="/Collections.html">Collections</a><span>
  </p>
</div>

<h1>{{ collection.name }}</h1>

<p><span class="collection_info">Collection ID: {{ collection.long_id }} </span> | <span class="collection_info">Metadata type: {{ collection.metadata_type }}</span></p>

{% include collection.include_file %}

{% if items %}
<h2>The documents on OPenn</h2>

<ul class="ul_documents">
  {% for item in items %}
  <li>
    {% if item.document.call_number %}
    <span class="item-id">{{ item.document.call_number }}:</span>
    {% endif %}
    <span class="item-name">{{ item.document.title }}</span>
    {% with origin=item.origin %}
    {% if origin|length > 0 %}
    <span class="item-origin">({{ origin|join:', '}})</span>
    {% endif %}
    {% endwith %}
    <br/>
    {% if item.document.openn_collection.metadata_type|lower != 'custom' %}
    <span class="page-link"><a href="/{{ item.document.browse_path }}">Browse</a></span> |
    <span class="page-link"><a href="/{{ item.document.tei_path }}">TEI XML</a></span> |
    {% endif %}
    <span class="page-link"><a href="/{{ item.document.package_dir }}">Data</a></span>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}