{% load markdown_deux_tags %}
{% markdown %}

## Documents from The Walters Art Museum

### Licensing

##### Images

All images and their content hosted here from The Digital Walters are
©2011 Walters Art Museum. They are licensed for use under a Creative
Commons Attribution-Share Alike 3.0 Unported License (CC-BY-SA-3.0):

- <https://creativecommons.org/licenses/by-sa/3.0/legalcode>

For a description of the terms of use see:

- <http://creativecommons.org/licenses/by-sa/3.0/deed.en>

##### Metadata

All manuscript descriptions and other cataloging metadata hosted here
from The Digital Walters are ©2011 Walters Art Museum. They are
licensed for use under the GNU Free Documentation License:

- <http://www.gnu.org/copyleft/fdl.html>

For more information on The Digital Walters licenses and information
on how to cite manuscript images and manuscript descriptions please
visit the License and use section of The Digital Walters ReadMe file:

- <http://www.thedigitalwalters.org/03_ReadMe.html#license_and_use__updated_6_february_2013/>

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

The data presented here, is also presented in a user-friendly
searchable interface at:

- <http://manuscripts.thewalters.org/>

### About The Walters Art Museum

The Walters Art Museum in Baltimore, Maryland is internationally
renowned for its collection of art. This collection presents an
overview of world art from pre-dynastic Egypt to 20th-century Europe,
and counts among its many treasures Greek sculpture and Roman
sarcophagi; medieval ivories and Old Master paintings; Art Nouveau
jewelry and 19th-century European and American masterpieces. With more
than 900 illuminated manuscripts, this extraordinary collection
chronicles the art of the book over more than 1,000 years. The Digital
Walters is a collection of digitized books and manuscripts from The
Walters Art Museum.  Items in the collection are from all over the
world, and from ancient to modern times. It features deluxe Gospel
books from Armenia, Ethiopia, Byzantium, and Ottonian Germany; French
and Flemish books of hours; as well as masterpieces of Safavid, Mughal
and Ottoman manuscript illumination.

For more information on The Walters Art Museum see:

- <https://www.thewalters.org/about/>

And for more information on The Digital Walters see:

- <http://www.thedigitalwalters.org>

### Image standards and specifications

Every element of each manuscript is digitized, including text folios,
blank folios, flyleaves, later additions, stubs (whenever possible),
and bindings (inner and outer boards as well as spine, fore-edge,
head, and tail). Some elements of a manuscript may be imaged more than
once. This is the case for Islamic bindings with envelope flaps, for
example. For these, the first flyleaf on the flap side will be imaged
with the flap, and without the flap.

For more information on image specifications please visit:

- <http://www.thedigitalwalters.org/03_ReadMe.html#the_manuscript_images>

### Metadata: Walters TEI

Manuscript descriptions for The Digital Walters and OPenn are both provided in TEI format, however there are differences in the way that TEI XML is created for OPenn and for The Digital Walters.  For more information on the Walters TEI see:

- <http://www.thedigitalwalters.org/03_ReadMe.html#tei_manuscript_descriptions>

### Sponsorship

The images and descriptions of Walters manuscripts on [The Digital
Walters](http://www.thedigitalwalters.org) were created with funding
awarded to the Walters Art Museum by the National Endowment for the
Humanities in two projects—Islamic Manuscripts of the Walters Art
Museum: A Digital Resource (2008 to 2011) and Parchment to Pixel:
Creating a Digital Resource of Medieval Manuscripts (2010 to present).
Additional funding has been provided by an anonymous donor.

[TDW]: http://www.thedigitalwalters.org "The Digital Walters website"
{% endmarkdown %}