{% load markdown_deux_tags %}
{% markdown %}

## The Digital Walters

Digitized books and manuscripts from the Walters Art Museum, Baltimore,
Maryland.

### Licensing

All Walters manuscript images and descriptions provided here are licensed for
use under the the [Creative Commons Attribution-Share Alike 3.0 Unported
License](CC-SA) and the [GNU Free Documentation License](GNUDL).

[CC-SA]: http://creativecommons.org/licenses/by-sa/3.0/deed.en "CC-SA 3.0 License"
[GNUDL]: http://www.gnu.org/copyleft/fdl.html "GNU Free Documentation License"

You are free to download and use the images and descriptions on this website
under the licenses named above. You do not need to apply to the Walters prior
to using the images. We ask only that you cite the source of the images as the
Walters Art Museum (see citation style in the ReadMe document).

Additionally, we request that as a courtesy a copy of any work created using
these materials be sent to the Curator of Manuscripts and Rare Books at the
Walters Art Museum, 600 N. Charles Street, Baltimore, MD 21201, mss-
<mailto:curator@thewalters.org>.


Note these terms mark a change from our previous license, which placed a
noncommercial restriction on the use of these materials. The noncommercial
restriction no longer applies, and this license supercedes the previously
advertised license, and replaces that found in many of the archival TIFF image
headers.

This change follows the Walters Art Museum’s licensing policy. More
information on the Walters’ intellectual property policy can be found on the
Walters website: <http://art.thewalters.org/license/>.

{% endmarkdown %}