{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Abraham Lincoln Foundation of The Union League of Philadelphia

### Licensing

##### Images

Unless otherwise stated, all images and their contents from the
Abraham Lincoln Foundation of The Union League of Philadelphia are
free of known copyright restrictions and in the public domain. See the
Creative Commons Public Domain Mark page for more information on terms
of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>

##### Metadata

Unless otherwise stated, all manuscript descriptions and other
cataloging metadata are ©2015 The Abraham Lincoln Foundation of The
Union League of Philadelphia. They are licensed for use under a
Creative Commons Attribution Licensed version 4.0 (CC-BY-4.0):

- <https://creativecommons.org/licenses/by/4.0/legalcode>.

For a description of the terms of use see the Creative Commons Deed:

- <https://creativecommons.org/licenses/by/4.0/>.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata.  It is presented
in a manner most likely to ensure its long-term digital preservation.

### About the Abraham Lincoln Foundation of The Union League of Philadelphia

The Abraham Lincoln Foundation of The Union League of Philadelphia
(ALF) is the steward of an important collection of art, archives,
manuscripts, books, pamphlets, objects and other historic documents
related to both the Union League and the Civil War. The collections
include materials from the ALF, The Union League of Philadelphia, The
Civil War Museum of Philadelphia, The Military Order of The Loyal
Legion of the United States and The Dames of the Loyal Legion of the
United States. The collections are available for research through The
Heritage Center of the Union League.Additional collections of books
related to American and European history, World Wars I and II,
regional history, biographies and early 20th century travel are also
available.

OPenn includes some of the items from the Abraham Lincoln Foundation.
For more information on all of the collections available at the ALF
see:

- <http://www.ulheritagecenter.org/the-abraham-lincoln-foundation/alf-overview/>

### Image standards and specifications

Images from the Abraham Lincoln Foundation collections were shot and
processed by the Schoenberg Center for Electronic Text & Image. In
general, SCETI follows the NISO standards as articulated in *A
Framework for Building Good Digital Collections*, 3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>

The following represents specific standards adopted by SCETI in their
capture of digital images.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF image, 600 ppi 24-bit LZW
  color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: Two auto-focus, 39 megapixel, Phase One P45 digital
  cameras.
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript
have been captured they are color-corrected, deskewed, and cropped.

{% endmarkdown %}