{% load markdown_deux_tags %}
{% markdown %}

## Documents from the Abraham Lincoln Foundation of The Union League of Philadelphia

### Licensing

##### Images

Unless otherwise stated, all images and their contents from the Abraham
Lincoln Foundation of The Union League of Philadelphia hosted here are
free of known copyright restrictions and in the public domain. See the
Creative Commons Public Domain Mark page for more information on terms
of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>

##### Metadata

Unless otherwise stated, all manuscript descriptions and other
cataloging metadata hosted here are ©2015 The Abraham Lincoln Foundation
of The Union League of Philadelphia. They are licensed for use under a
Creative Commons Attribution Licensed version 4.0 (CC-BY-4.0):

- <https://creativecommons.org/licenses/by/4.0/legalcode>.

For a description of the terms of use see the Creative Commons Deed:

- <https://creativecommons.org/licenses/by/4.0/>.

### Intended Users

The data presented on OPenn is intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata.  It is presented
in a manner most likely to ensure its long-term digital preservation.

### About the Abraham Lincoln Foundation of The Union League of Philadelphia

The Abraham Lincoln Foundation of The Union League of Philadelphia
(ALF) is the steward of an important collection of art, archives,
manuscripts, books, pamphlets, objects and other historic documents
related to both the Union League and the Civil War. The collections
include materials from the ALF, The Union League of Philadelphia, The
Civil War Museum of Philadelphia, The Military Order of The Loyal
Legion of the United States and The Dames of the Loyal Legion of the
United States. The collections are available for research through The
Heritage Center of the Union League.Additional collections of books
related to American and European history, World Wars I and II,
regional history, biographies and early 20th century travel are also
available.

OPenn includes some of the items from the Abraham Lincoln Foundation.
For more information on all of the collections available at the ALF
see:

- <http://www.ulheritagecenter.org/the-abraham-lincoln-foundation/alf-overview/>

### Image standards and specifications

Images from the Abraham Lincoln Foundation collections were shot and
processed by the Schoenberg Center for Electronic Text & Image. In
general, SCETI follows the NISO standards as articulated in *A
Framework for Building Good Digital Collections*, 3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>

The following represents specific standards adopted by SCETI in their
capture of digital images.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: IQ280 80 megapixel Phase One digital camera
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript have
been captured they are color-corrected, deskewed, and cropped.  

In 2015, SCETI began using IQ280 Phase One digital cameras; however,
OPenn contains images that were captured using different equipment
before this time. If you have questions about a specific manuscript or
image, please refer to the header of the Master image or images in
question or the accompanying XMP files.  You can see this, for example,
in the Master images for Penn Manuscript Ms. Codex 1096  at
<http://openn.library.upenn.edu/Data/0002/mscodex1096/data/master/>.
Note the metadata in the image header of `0396_0000.tif` or in its
sidecar XMP file `0396_0000.tif.xmp` as seen below.  

<rdf:Description rdf:about=''
  xmlns:tiff='http://ns.adobe.com/tiff/1.0/'>
  <tiff:BitsPerSample>
   <rdf:Seq>
    <rdf:li>8</rdf:li>
    <rdf:li>8</rdf:li>
    <rdf:li>8</rdf:li>
   </rdf:Seq>
  </tiff:BitsPerSample>
  <tiff:Compression>1</tiff:Compression>
  <tiff:ImageLength>6121</tiff:ImageLength>
  <tiff:ImageWidth>4655</tiff:ImageWidth>
  <tiff:Make>Phase One</tiff:Make>
  <tiff:Model>P 45+</tiff:Model>
  <tiff:Orientation>1</tiff:Orientation>
  <tiff:PhotometricInterpretation>2</tiff:PhotometricInterpretation>
  <tiff:PlanarConfiguration>1</tiff:PlanarConfiguration>
  <tiff:ResolutionUnit>2</tiff:ResolutionUnit>
  <tiff:SamplesPerPixel>3</tiff:SamplesPerPixel>
  <tiff:Software>Capture One 4 Windows</tiff:Software>
  <tiff:XResolution>600/1</tiff:XResolution>
  <tiff:YResolution>600/1</tiff:YResolution>
 </rdf:Description>

{% endmarkdown %}