{% load markdown_deux_tags %}
{% markdown %}

## Documents from the University Archives and Records Center, University of Pennsylvania

### Licensing

##### Images

Unless otherwise stated, all images and their contents from the
University Archives and Records Center are free of known copyright
restrictions and in the public domain. See the Creative Commons Public
Domain Mark page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, the
University Archives and Records Center has waived all copyright and
related or neighboring rights to its metadata hosted here. This work
is published from: United States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

### Intended Users

The data presented on OPenn are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

OPenn includes some of the items from the University Archives and
Records Center. For more information on all of the collections
available at UARC see:

- <http://www.archives.upenn.edu/>.


### About the University Archives and Records Center, University of Pennsylvania

The University Archives and Records Center (UARC) serves the
University community as a center for research, teaching and learning
as well as center for the storage and management of inactive
University records. The Trustees of the University of Pennsylvania
established the University Archives and Records Center in 1945 and
approved records management programs in 1954 and 1990. UARC's
collections include a broad range of historically significant
materials from the first paper records created by the Trustees in 1749
to the millions of electronic records of the present. These materials
document the University's corporate or organizational origin and
development as well as the many activities and achievements of its
officers, staff, faculty, students, alumni, and benefactors.

UARC's collections policies also extend beyond the institution itself
and embrace the history of prominent persons associated with the
University; the history of institutions of higher learning in the
United States; the history of American intellectual life generally;
and the history of the Philadelphia community in which the University
lives. The collections consist of more than 14,000 cubic feet of
records in many different formats, including visual archives and
three-dimensional memorabilia. An expanded list of finding aids and
additional archival collections, including many not yet found on this
site, is available at this web address:

- <http://www.archives.upenn.edu/faids/guides.html>

### Image standards and specifications

Images from the University Archives and Records Center collections
were shot and processed by the Schoenberg Center for Electronic Text &
Image. In general, The Schoenberg Center for Electronic Text & Image
follows the NISO standards as articulated in *A Framework for Building
Good Digital Collections*, 3rd Edition:

- <http://www.niso.org/publications/rp/framework3.pdf>.

The following represents specific standards adopted by SCETI in their
capture of digital images.

#### Image specifications

- Archival Masters: 600 ppi 24-bit raw TIFF image, 600 ppi 24-bit LZW
  color image
- "Golden Thread" color target is used for every exposure. Target also
  includes interference pattern and inch/centimeter markings. Target
  is also used to check focus.

#### Imaging and processing equipment

- Cameras: Two auto-focus, 39 megapixel, Phase One P45 digital
  cameras.
- Lenses: Schneider Kreuznach lenses
- Software: Phase One Capture One Pro; Photoshop CS3

Master images are captured at a resolution of at least 600 pixels per
inch of the image subject. Once all of the images for a manuscript
have been captured they are color-corrected, deskewed, and cropped.

{% endmarkdown %}
