{% load markdown_deux_tags %}
{% markdown %}

## Documents from Villanova University Special Collections

### Licensing

##### Images

Unless otherwise stated, all images and their contents from Villanova
University Special Collections hosted here are free of known copyright
restrictions and in the public domain. See the Creative Commons Public
Domain Mark page for more information on terms of use:

- <http://creativecommons.org/publicdomain/mark/1.0/>.

##### Metadata

Unless otherwise stated, to the extent possible under law, Villanova
University Special Collections has waived all copyright and related or
neighboring rights to its metadata hosted here. This work is published
from: United States. For a summary of CC0 see:

- <https://creativecommons.org/publicdomain/zero/1.0/>.

Legal code:

- <https://creativecommons.org/publicdomain/zero/1.0/legalcode>.

### Intended Users

The data presented on OPenn are intended for aggregators, digital
humanists, and scholars who have been directed here to procure
high-resolution images and their associated metadata. It is presented
in a manner most likely to ensure its long-term digital preservation.

Some of the works from Villanova University Special Collections have
facsimiles available online, in a user-friendly format, at:

- <https://library.villanova.edu/collections/distinctive/specialcollections/digitizedcollections/>

### About Villanova University Special Collections

Villanova University Special Collections houses approximately 15,000
items. Some of these items are rare or unique and most require special
handling and preservation. Collections include Augustiniana, the DiOrio
Theater collection, European imprints to 1800, the Hubbard collection,
incunabula, limited editions, the McGarrity Collection, manuscripts, the
Mendel Collection, North American imprints to 1864, the Reap World War
II collection, the Sherman Thackara collection and Villanovana.

OPenn includes some of the items from Villanova University Special
Collections. For more information on all of the special collections
available at Bryn Mawr College see:

- <https://library.villanova.edu/collections/distinctive/specialcollections/collections>

{% endmarkdown %}
