</div>

<div id="text_openn">
  <div id="text_openn_top"></div>
  <div id="text_openn_content">This Web site contains complete sets of high-resolution archival images of manuscripts from the collection of the University of Pennsylvania Library and other contributing institutions, along with machine-readable TEI P5 descriptions and technical metadata, released for free under a Creative Commons Attribution-ShareAlike 3.0 Unported license for anyone who wants to use them. </div>
</div>
<div id="footer"><img src="/html/separator_white.gif" width="7" height="10" />&nbsp;&nbsp;All materials on this site are free to use under a Creative Commons Attribution-ShareAlike 3.0 Unported license.&nbsp;&nbsp;<img src="/html/separator_white.gif" width="7" height="10" /></div>
</body>
</html>
