@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	background-color: #ffffff;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #333;
	padding-bottom: 40px;
}

#divmain {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	overflow: visible;
	position: absolute;
	visibility: visible;
	z-index: 5;
	height: 50px;
	width: 100%;
	background-image: url(/html/datapage_back.jpg);
	background-repeat: repeat-x;
	left: 0px;
	top: 0px;

}

#mainlinks {
	font-family: Arial, Helvetica, sans-serif;
	color: #900;
	font-size: 14px;
	letter-spacing: 0.07em;
	text-align: center;
	position: absolute;
	height: auto;
	width: 99%;
	left: 0px;
	top: 8px;
}
#mainlinks a:link, #mainlinks a:visited{
	font-family: Arial, Helvetica, sans-serif;
	color: #900;
    text-decoration: none;

}

.separators
{
	font-size: 24px;
	color: #666;
	vertical-align: middle;
}

#divmain #logo_openn {
	overflow: visible;
	position: absolute;
	visibility: visible;
	z-index: 9;
	height: 66px;
	width: 650px;
	left: 55%;
	top: -24px;
	margin-left: -620px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #fff;
	font-style: italic;
}
#divmain #hosted {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
	overflow: visible;
	position: absolute;
	visibility: visible;
	z-index: 8;
	height: 30px;
	width: 400px;
	left: 55%;
	top: 15px;
	margin-left: 50px;
	text-align: center;
}

#text_openn {
	overflow: visible;
	position: static;
	visibility: visible;
	z-index: 20;
	height: auto;
	width: 290px;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #333;
	line-height: 135%;
	letter-spacing: .02em;
	background-color: #dedede;
	float: right;
	margin-top: 180px;
	margin-right: 20px;
	background-image: -moz-linear-gradient(
  rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 95%
);
	border-radius: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}

#text_openn_top {
	height: 10px;
	width: 100%;
	border: solid 1px #3d0914;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: #3d0914;

}

#text_openn_content {
	margin: 7px;
	color: #003;
}

#divmain #background {
	background-color: rgba(102,0,0,0.6);
	height: 38px;
	width: 660px;
	margin-left: -320px;
	overflow: visible;
	position: absolute;
	visibility: visible;
	z-index: 3;
	left: 55%;
	margin-left: -660px;
	top: 0px;
	border-width: 2px;
	border-style: solid;
	border-color: #650000;
	border-radius: 18px;
	margin-top: 4px;
}


#divmain #logo_openn .hosted {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	margin-left: 250px;
}

.tagline {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #FFF;
	font-style: italic;
}
#logo_openn .logo_o {
	font-family: "Times New Roman", Times, serif;
	font-size : 46px;
	font-weight : normal;
	float : left;
	color : #fff;
	font-style: normal;
	vertical-align: sub;
	margin-top: -7px;
}
#logo_openn .logo_penn {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	color: #fff;
	font-style: normal;
	margin-left: 3px;
}
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;   /* Height of the footer */
	background: #3d0914;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #fff;
	letter-spacing: 0.02em;
	text-align: center;
	padding-top: 6px;
}
